@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
:root{
  --box-shadow: 0 1px 3px rgba(0,0,0,0.12)
}
* {
  box-sizing: border-box;
}

body{
  font-family: 'Prompt', sans-serif;
  display: flex;
  background-color:  rgb(238, 215, 215);
  /* เรียงภายในให้เป็นคอลัม */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}


.container{
  margin: 30px auto;
  width: 350px;
}

h1{
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}
h4{
  margin: 0;
}

.income-expense-container{
  display: flex;
  justify-content: space-between;
  background-color: #ddd;
  box-shadow: var(--box-shadow);
  padding: 20px;
  margin: 20px 0;
}

.income-expense-container>div{
  flex: 1;
  text-align: center;
}
.income-expense-container>div:first-of-type{
  border-right: 1px solid #dedede;
}
.money{
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}
.money_plus{
  color: #2ecc71;
}
.money_minus{
  color: red;
}
label{
  display: inline-block;
  margin: 10px 0;
}
input[type = "text"],input[type = "number"]{
  border: 1px solid #dedede;
  display: block;
  font-size: 18px;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
}

.btn {
  font-family: 'Prompt', sans-serif;
  background-color: chocolate;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  display: block;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}
.list{
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}
.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}
.list li.plus{
  border-right:5px solid #2ecc71;
}
.list li.minus{
  border-right: 5px solid red;
}
.delete-btn{
  cursor: pointer;
  background-color: red;
  color: #fff;
  border: 0;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%,-50%);
  opacity: 0;
  transition: opcity 0.3 ease;
}
.list li:hover .delete-btn{
  opacity: 1;
}
.btn:focus,.delete-btn:focus{
  outline: 0;
}