@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
}

body {
  background-color: rgb(85, 85, 85);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
  font-size: 18px; 
}
.btn {
  color: rgb(0, 0, 0);
  background-color: orange;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 12px;
  font-size: 18px;
}
.money-img{
  width: 250px;
}
.currency{
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currency select{
  padding: 10px 10px 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  border: 1px solid black;
}

.currency input{
  border: 1px solod black;
  padding: 10px 10px 10px 20px;
  font-size: 26px;
  border-radius: 5px;
  text-align: right;
  background: transparent;
}

.swap-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rate{
  font-size: 25px;
}

select:focus,input:focus,button:focus{
    outline: 0;
}